<html>
<body>
    <style>
        body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }
span{ font-size: 30px;font-weight: bold;color: gray;}
div { margin-top: 10px; margin-left: 20px;}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
    </style>


<img src="https://i.pinimg.com/originals/33/e5/8d/33e58def37aa6e1f4064dfd829fefb02.png" width="200">
<!-- <img src="https://www.plantsguru.com/image/cache/Geo%20Bags/Aspidistra-Cast-Iron-Plant-800x800.jpg"/> -->
<div>
    Dear Customer,<br>

    Thank you for Choosing us!<br>
    Please use the following User Id to get access to your Uniconform Account <br>
 
     Your User Id is <span style="font-weight: bold;">{{OTP}}</span>
</div><br>
<div style="float: left;">
    Best Regards,<br>
    Team -unicornform<br>
    Call-+91 0000002

</div>

</body>