<html>
<body>
    <style>
        body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }
span{ font-size: 30px;font-weight: bold;color: gray;}
div { margin-top: 10px;}
    </style>


<img src="https://www.plantsguru.com/image/cache/Geo%20Bags/Aspidistra-Cast-Iron-Plant-800x800.jpg"/>
<div>
    Dear Customer,<br>

    Thank you for Choosing us!<br>
    Please use the following OTP to get access to your Natureleen Account <br>
 
     Your User Id is <span style="font-weight: bold;">{{OTP}}</span>
</div><br>
<div style="float: left;">
    Best Regards,<br>
    Team -unicornform<br>
    Call-0985644

</div>

</body>